company-statistics-cache.el
.python-environments
nov-places
config.el
elpa
recentf
auto-save-list
ido.last
smex-items
bookmarks
abbrev_defs
tramp
eshell
srecode-map.el
/request/
/eshell/
history
ac-comphist.dat
*.elc
/.sx
130
/emojis
/url
.#*
